SECRET_KEY=django-insecure-97s)x3c8w8h_qv3t3s7%)#k@dpk2edr0ed_(rq9y(rbb&_!ai%
DEBUG=0
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
DB_ENGINE=django.db.backends.sqlite3
DATABASE=db.sqlite3
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=